# node modules
node_modules
# build path
dist
# environmental variables
.env
# yarn error log
yarn-error.log
# vscode config
.vscode
# test coverage
coverage

vite.config.ts
tailwind.config.js
codegen.js
.prettierrc